@import '../../shared/styles/_vars.scss';

.header {  
    background-color: $bg-color;
    margin-bottom: 25px;
    &_container {
        display: flex;
        max-width: 1440px;
        min-height: 80px;
        margin: 0 auto;
        padding: 14px 22px;
        justify-content: space-between;
    }
    &_title {
        font-size: 18px;
        line-height: 28px;
        a {
            color: $heading-color;
            text-decoration: none;
        }
    }
    &_nav {
        display: flex;
        align-items: center;
        gap: 25px;
    }
    
}

.nav {
    &_link {
        font-size: 18px;
        line-height: 28px;
        color: $heading-color;
        border: none;
        background: transparent;
        text-decoration: none;
        &__logOut {
            padding: 10px 18px;
            border-radius: 5px;
            border: 1px solid $heading-color;
            text-decoration: none;
        }
        &__green {
            padding: 10px 18px;
            color: $success-color;
            border: 1px solid $success-color;
            border-radius: 5px;
        }
    }
}

.user_data {
    display: flex;
    align-items: center;
    gap: 15px;
    color: $heading-color;
    text-decoration: none;
    &_username {
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 18px;
        line-height: 28px;
    }
    &_img {
        width: 45px;
        height: 45px;
        border-radius: 50%
    }
}