@import '../../shared/styles/_vars.scss';

.list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 25px;
    list-style: none;
}

.alert {
    max-width: 940px;
    margin: 0 auto;
}