@import '../../shared/styles/_vars.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Open+Sans:wght@400;600&display=swap');

.item {
    
    margin: 0 auto;
    padding: 15px 20px;
    max-width: 940px;
    min-height: 140px;
    background: $bg-color;
    border-radius: 5px;
    &_top {
        display: flex;
        justify-content: space-between;
    }
    &_info {        
        width: 75%;
    }
    &_author {
        display: flex;
    }
    &_body {
        overflow-wrap: anywhere;
    }
}

.info {
    &_header {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
    }
    &_title {
        margin-right: 15px;
        font-size: 20px;
        color: $info-color;
        cursor: pointer;
    }
    &_likes {
        width: 16px;
        height: 16px;
        margin: 0 10px 0 0;
        padding: 0;
        background: transparent;
        border: none;
        cursor: pointer;
    }
    &_descr {
        margin: 0;
        font-size: 12px;
        line-height: 22px;
        overflow-wrap: anywhere;
    }
    &_tag {
        margin-bottom: 5px;
    }
}

.data {
    &_name {
        margin: 0;
        font-size: 18px;
        line-height: 28px; 
        color: $heading-color;
    }
    &_date {
        margin: 0;
        font-size: 12px;
        line-height: 22px;
        color: $text-color-secondary;
    }
}

.author {
    &_data {
        margin-right: 15px;
    }
    &_img {
        width: 46px;
        height: 46px; 
    }
}

:global {
    .ant-statistic .ant-statistic-content {
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 400;
        color:  $text-color;
    }
}
